* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.promo {
  height: 800px;
  padding: 39px 0 62px 0;
  background: url("../img/main_bg.jpg") center center/ cover no-repeat;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  margin-top: 14px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

h1 {
  margin-top: 48px;
}

.title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 41px;
  text-transform: uppercase;
  color: #f9bf3b;
  text-align: center;
}

h2.title {
  margin-top: 30px;
}

.simple .title_big {
  margin-top: 21px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.promo .promo_text {
  margin-top: 18px;
  padding: 0 13px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
}

.promo .promo_text span {
  text-transform: uppercase;
  color: #f9bf3b;
  font-family: Roboto;
  font-weight: 900;
}

.promo .promo_btn {
  display: block;
  width: 313px;
  height: 72px;
  margin: 64px auto;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-family: RobotoCondensed;
  font-size: 21px;
  color: #ffffff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.promo .promo_btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.more {
  margin-top: 73px;
}

.more .more_text {
  font-family: Roboto;
  font-weight: 200;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
  font-family: Roboto;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.finish .finish_header {
  color: #fff;
}

.waiting .waiting_divider,
.finish .finish_divider {
  width: 217px;
  height: 4px;
  background: #f9bf3b;
  margin: 20px auto;
}

.waiting .waiting_subheader {
  font-family: Roboto;
  font-size: 23px;
  text-align: center;
  color: #4a4a4a;
}

.waiting .waiting_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  width: 342px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 26px;
  font-weight: 300;
  color: #4a4a4a;
}

.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}

.optimization .optimization_header {
  margin-left: 391px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  color: #299cbd;
}

.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 17px;
  color: #4a4a4a;
}

.optimization .optimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url("../img/second_bg.jpg") center center/cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 118px;
  border-radius: 100%;
  background: #b4e2ff;
}

.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #efefef;
}
